.slider01 {
  max-width: 600px;
  margin: 0 auto;
  .eyecatch {
    opacity: 0;
    transition: all ease 0.2s;
    img {
      border-radius: 5px;
      width: 100%;
      height: calc((100vw - 30px) * 2 / 3);
      max-height: calc(600px * 2 / 3);
      object-fit: cover;
    }
    &.eyecatchActive {
      opacity: 1;
    }
  }
  .thumbnails {
    display: flex;
    margin: 0 -3px;
    margin-top: 10px;
    li {
      width: 33.33%;
      opacity: 0.4;
      padding: 3px;
      cursor: pointer;
      // transition: all ease 0.1s;
      img {
        border-radius: 5px;
        height: calc(((100vw - 30px) / 3) * 2 / 3);
        max-height: calc((600px / 3) * 2 / 3);
        object-fit: cover;
      }
      &.thumbnailActive {
        pointer-events: none;
        opacity: 1;
        cursor: default;
      }
      &.input {
        position: relative;
        cursor: default;
        opacity: 1;
        input {
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
        label {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: calc(((100vw - 30px) / 3) * 2 / 3);
          max-height: calc((600px / 3) * 2 / 3);
          border: 2px dashed #868686;
          color: #868686;
          &.drag {
            border: 2px dashed rgb(42, 134, 255);
            color: rgb(42, 134, 255);
          }
        }
      }
    }
  }
  @media (min-width: 1025px) {
    width: 600px;
    margin: 0 auto;
    .eyecatch {
      img {
        height: calc(600px * 2 / 3);
      }
    }
    .thumbnails {
      display: flex;
      margin: 0 -3px;
      margin-top: 10px;
      li {
        width: 33.33%;
        opacity: 0.4;
        padding: 3px;
        // transition: all ease 0.1s;
        img {
          height: calc((600px / 3) * 2 / 3);
          object-fit: cover;
        }
        &.thumbnailActive {
          pointer-events: none;
          opacity: 1;
        }
        &.input {
          label {
            height: calc((600px / 3) * 2 / 3);
          }
        }
      }
    }
  }
}
.slider01_editable {
  li {
    position: relative;
    .remove {
      pointer-events: all;
      cursor: pointer;
      z-index: 2;
      opacity: 0.6;
      display: none;
      position: absolute;
      right: 6px;
      top: 6px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: #dddddd;
      align-items: center;
      justify-content: center;
      transition: all ease 0.1s;
      &:hover {
        opacity: 1;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        transform-origin: center;
        width: 15px;
        height: 2px;
        background-color: rgb(65, 65, 65);
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &.thumbnailActive {
      .remove {
        display: flex;
      }
    }
  }
}
