.tabs {
  display: flex;
  margin-bottom: 30px;
  .item {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    span {
      color: #bdbdbd;
    }
    &::after {
      content: "";
      transition: all ease-out 0.2s;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgb(15, 125, 252);
      width: 0;
      height: 3px;
    }
    &.current {
      span {
        color: #333;
        font-weight: 500;
      }
    }
    &.fromLeft {
      &::after {
        width: 100%;
      }
    }
    &.fromRight {
      &::after {
        right: 0;
        left: auto;
        width: 100%;
      }
    }
    &.toLeft {
      &::after {
        left: 0;
        right: auto;
        width: 0;
      }
    }
    &.toRight {
      &::after {
        right: 0;
        left: auto;
        width: 0;
      }
    }
  }
  @media (min-width: 1025px) {
    .item {
      padding: 10px 15px;
    }
  }
}
